footer{
    width: 100%;
    background-color: rgb(26, 26, 26);
    height: 100px;
    .footerContent{
        color: white;
        width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 40px;
    }
}